body {
	margin: 0px;
	padding: 0px;
	color: black;
	font-size: 1.5rem;
}

.jumbotron {
	background: #3aafb1;
	display: block;
}

.jumbotron h1, h3, h4 {
	color: white;
}

#intro {
	font-size: 1.2em;
}

.link-div {
	width: 75%;
	display:flex;
	text-align: center;
	align-content: center;
}

.link-div a {
	flex-basis:100%;
	color: white;
	font-size: 1.25em;
	width: 85%;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 10px;
}

.link-div a span {
	display: inline-block;
	transform:scale(1);
}

.link-div a:hover span {
	/*font-size: 1.35em;*/
	text-decoration: none;
	transform: scale(1.2);
}
